* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html {
  font-size: 18px;
  color: #444;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button, input {
  background: none;
  outline: none;
}

@import "./general";
@import "./home";
@import "./subject_view";
@import "./exam_view";
@import "./auth_change";
@import "./auth_login";
@import "./auth_register";
@import "./exam_take";
