.profile {
  margin-top: 15px;

  .profile-container {
    width: 1000px;
    margin: 0 auto;

    .full-name {
      margin-bottom: 10px;
      font-weight: 500;
    }

    .tab {
      border-bottom: 1px #ccc solid;

      .tab-item {
        display: inline-block;
        padding: 10px 15px;
        color: #777;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .active {
        border-bottom: 3px #0e76bc solid;
        color: #0e76bc;
      }
    }

    .profile-picture-container {
      border-bottom: 1px #ccc solid;
      padding: 25px 0 20px;

      .profile-picture {
        width: 200px;
        border-radius: 50%;
      }
    }

    .profile-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 20px;
      border-bottom: 1px #ccc solid;
      padding: 25px 0;

      &:last-child {
        border-bottom: none;
      }

      .profile-info-item {
        display: flex;

        .label {
          width: 40%;
        }

        .value {
          width: 60%;
        }
      }
    }

    .form-update {
      .update-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 40px;
        align-items: center;
        border-bottom: 1px #ccc solid;
        padding: 30px 0;

        .update-info-item {
          display: flex;

          label {
            width: 40%;
          }

          .typing {
            width: 60%;
            border-bottom: 1px #999 solid;
            font-size: 14px;

            &:focus {
              border-bottom: 2px #0e76bc solid;
            }
          }
        }
      }

      .btn-update {
        display: block;
        margin: 15px 0 0 auto;
        border: 1.5px #3fb380 solid;
        border-radius: 3px;
        padding: 10px 20px;
        color: #3fb380;
        cursor: pointer;
        font-size: 17px;

        &:hover {
          background-color: #3fb380;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .profile {
    .profile-container {
      width: 90%;

      .profile-info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
      }

      .form-update {
        .update-info {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
