.ranking {
  margin-top: 15px;

  .ranking-container {
    width: 1000px;
    margin: 0 auto;

    h1 {
      margin-bottom: 15px;
      font-size: 36px;
      font-weight: 500;
    }

    .ranking-table {
      width: 100%;
      border-collapse: collapse;

      tr:nth-child(even) {
        background-color: #eee;
      }

      .ranking-head {
        background-color: #0e76bc;
        color: #fff;

        th {
          padding: 15px 0;
          font-weight: 500;
        }
      }

      .ranking-value {
        td {
          padding: 7px 0;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .ranking {
    .ranking-container {
      width: 90%;
    }
  }
}
