.pw-changing {
  margin: 75px 0;

  .pw-changing-container {
    width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .pw-changing {
    .pw-changing-container {
      width: 90%;
    }
  }
}
