.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.nav {
  background-color: #0e76bc;
  color: #fff;
  overflow: visible;

  .nav-container {
    .toggle {
      .logo {
        width: 35px;
      }

      #btn-menu {
        display: none;
      }
    }

    .nav-right {
      display: flex;
      justify-content: end;

      .nav-item {
        padding: 15px 20px;
        color: #fff;

        &:hover {
          background-color: #3d9fe2;
        }
      }

      .nav-btn-item {
        position: relative;

        &:hover {
          background-color: #3d9fe2;
          color: #fff;
        }

        #btn-personal {
          display: block;
          padding: 15px 20px;
          color: inherit;
          cursor: pointer;
        }

        .personal-list {
          position: absolute;
          right: 0;
          width: max-content;
          max-height: 0;
          overflow: hidden;
          border-radius: 3px;
          background-color: #fff;
          color: #111;
          transition: max-height 0.1s ease-out;
          z-index: 1;

          .personal-item {
            display: block;
            padding: 5px 10px;
            font-size: 18px;

            &:hover {
              background-color: #3d9fe2;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.status {
  margin-bottom: 15px;

  h1 {
    margin-bottom: 10px;
    color: #0e76bc;
    font-weight: 500;
  }

  .breadcrumb {
    border: 1px #ccc solid;
    padding: 10px;

    .breadcrumb-item {
      display: inline;

      a {
        color: #ff6842;
      }
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: '/\00a0';
    }
  }
}

.footer {
  margin-top: 15px;
  padding: 40px 0;
  background-color: #27282c;
  color: #a9a9ab;
  font-size: 13px;

  .footer-container {
    width: 1000px;
    margin: 0 auto;

    .contact {
      margin-bottom: 40px;

      a {
        margin-right: 15px;
        border-radius: 50%;
        padding: 5px 7px;
        color: #a9a9ab;
        font-size: 20px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background-color: rgba(169, 169, 171, 0.25);
        }
      }
    }

    .info {
      margin-bottom: 20px;

      a {
        margin-right: 15px;
        color: #a9a9ab;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }

    .copyright {
      color: #68696c;

      p:first-child {
        margin-bottom: 3px;
      }
    }
  }
}

.auth {
  .header {
    border-radius: 3px 3px 0 0;
    padding: 10px 0;
    background-color: #0e76bc;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  .typing-section {
    border: 1px #0e76bc solid;
    border-radius: 0 0 3px 3px;
    padding: 25px;

    .item {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 17px;
      }

      .input {
        display: flex;

        i {
          border: 1px #ccc solid;
          border-right: none;
          border-radius: 3px 0 0 3px;
          padding: 10px;
          background-color: #e9ecef;
          color: #495057;
        }

        input {
          &:focus {
            outline: rgba(61, 159, 226, 0.5) 3px solid;
          }

          flex-grow: 1;
          border: 1px #ccc solid;
          border-radius: 0 3px 3px 0;
          padding: 10px;
          transition: outline-width 0.2s ease-out;
        }
      }
    }
  }

  .btn-submit {
    display: block;
    margin-left: auto;
    border: 1.5px #28a745 solid;
    border-radius: 3px;
    padding: 10px 20px;
    color: #28a745;
    cursor: pointer;
    font-size: 17px;

    &:hover {
      background-color: #28a745;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    .nav-container {
      flex-direction: column;
      align-items: unset;
      width: 100%;

      .toggle {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;

        #btn-menu {
          display: block;

          i {
            color: #fff;
            font-size: 25px;
          }
        }
      }

      .show {
        display: flex !important;
      }

      .nav-right {
        display: none;
        flex-direction: column;

        .nav-item {
          margin-left: 0;
          border-top: 1px rgba(255, 255, 255, 0.25) solid;
          padding: 7px 20px;
        }

        .nav-btn-item {
          border-top: 1px rgba(255, 255, 255, 0.25) solid;

          .personal-list {
            position: static;
            width: 100%;
            border: none;
            border-radius: 0;
            background-color: #1483cd;

            .personal-item {
              border-bottom: 1px rgba(255, 255, 255, 0.25) solid;;
              padding: 10px 40px;
              color: #fff;
            }
          }

          #btn-personal {
            width: 100%;
            padding: 7px 20px;
            text-align: left;
          }
        }
      }
    }
  }

  .subjects {
    .subjects-container {
      width: 90%;
      grid-template-columns: 1fr;
    }
  }

  .footer {
    .footer-container {
      width: 90%;
    }
  }
}
