.nav {
  background-color: #0e76bc;
  color: #fff;
  overflow: visible;

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;

    .nav-right {
      display: flex;
      justify-content: end;

      .nav-item {
        padding: 0.75rem 1rem;

        &:hover {
          background-color: #3d9fe2;
        }
      }

      .nav-btn-item {
        position: relative;

        &:hover {
          background-color: #3d9fe2;
          color: #fff;
        }

        #btn-personal {
          display: block;
          padding: 0.75rem 1rem;
          color: inherit;
          cursor: pointer;
        }

        #personal-list {
          position: absolute;
          right: 0;
          border: 1px #ccc solid;
          border-radius: 3px;
          color: #111;

          .personal-item {
            &:hover {
              background-color: #3d9fe2;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    .nav-container {
      flex-direction: column;
      width: 100%;

      .nav-right {
        flex-direction: column;

        .nav-item {
          margin-left: 0;
          border-top: 1px rgba(255, 255, 255, 0.25) solid;
        }

        .nav-btn-item {
          border-top: 1px rgba(255, 255, 255, 0.25) solid;

          #personal-list {
            position: static;
            border: none;
            border-radius: 0;
            background-color: #1483cd;
            color: #fff;

            .personal-item {
              padding-left: 2rem;
            }
          }

          #btn-personal {
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}
