.decoration {
  position: relative;
  margin-bottom: 15px;

  img {
    width: 100%;
    vertical-align: middle;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);

    blockquote {
      color: #fff;
      font-family: "Roboto", sans-serif;
      opacity: 0.95;

      .content {
        margin-bottom: 15px;
        font-style: italic;
        font-size: 26px;
        letter-spacing: 1.5px;
      }

      .author {
        font-weight: 400;
        text-align: right;
      }
    }
  }
}

.subject-content {
  .subjects-container {
    width: 1000px;
    margin: 0 auto;

    .subject-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      color: #0e76bc;

      h1 {
        font-weight: 600;
      }

      .filter {
        position: relative;

        #btn-filter {
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            transition-duration: 500ms;
          }
        }

        .filter-overlay {
          position: absolute;
          right: 0;
          display: none;
          z-index: 1000;

          .filter-content {
            border-radius: 3px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);

            .filter-head {
              margin-bottom: 7px;
              font-weight: 500;
              text-align: center;
            }

            .filter-typing {
              display: grid;
              grid-template-columns: max-content 175px;
              grid-template-rows: repeat(3, 1fr);
              grid-gap: 10px 5px;
              align-items: center;

              label {
                color: #001a33;
                font-size: 15px;
              }

              input {
                border-bottom: 1.5px #777 solid;
                padding: 3px 7px;
                font-size: 15px;

                &:focus {
                  border-bottom: 2px #0e76bc solid;
                }

                &::placeholder {
                  color: #aaa;
                }
              }
            }

            #btn-filter-ok {
              display: block;
              margin: 7px 0 0 auto;
              border-radius: 3px;
              padding: 7px 20px;
              background-color: #0e76bc;
              color: #fff;
              cursor: pointer;
              font-size: 15px;
            }
          }
        }

        .show {
          display: block;
        }
      }
    }

    .accordion {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      .btn-accordion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 15px;
        background-color: #0e76bc;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        text-align: left;

        i {
          float: right;

          &::after {
            content: '\f0d9';
            font-weight: bold;
          }
        }
      }

      .active {
        i {
          &::after {
            content: "\f0d7";
          }
        }
      }

      .panel {
        max-height: 0;
        padding-left: 50px;
        overflow: hidden;
        transition: max-height 0.15s ease-out;

        .panel-item {
          border-bottom: 1px #ccc solid;
          padding: 20px 0 15px;

          &:last-child {
            border-bottom: none;
          }

          .panel-head {
            display: flex;
            justify-content: space-between;
            position: relative;

              .icon {
                position: absolute;
                top: 5px;
                left: -30px;
                color: #88b77b;
              }

              a {
                color: #f60;
                font-size: 22px;
              }

            .btn-item-info {
              height: fit-content;
              margin: 5px 0 0 10px;
              color: #6ea2c9;
              cursor: pointer;
            }
          }

          .panel-detail {
            max-height: 0;
            margin-top: 10px;
            font-size: 15px;
            overflow: hidden;
            transition: max-height 0.2s ease-out;

            .item-detail {
              font-size: 18px;

              span {
                margin-left: 15px;
                color: #f60;
                font-size: inherit;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .decoration {
    img {
      height: 90vh;
      object-fit: cover;
      object-position: center center;
    }
  }

  .overlay {
    blockquote {
      width: 80%;
    }
  }

  .subject-content {
    .subjects-container {
      width: 90%;

      .subject-head {
        .filter {
          .filter-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);

            .filter-content {
              width: max-content;
            }
          }

          .show {
            display: flex;
          }
        }
      }
    }
  }
}
